<!-- Don't edit this file by hand. See CONTRIBUTING.md. -->

# Awesome Headless CMS [![Awesome][awesome-image]][awesome-repo]
一个集合列表，包含 **{{cmsCount}}** 个开开源或闭源的去中心化内容管理系统集合(Headless-CMS)

_最后的生成时间为 {{generationTime}}. 贡献方式请见 [CONTRIBUTING.md](/CONTRIBUTING.md)_

## 内容介绍
{{#each tocEntries}}
- [{{text}}](#{{anchor}})
{{/each}}

**Key**

| Emoji                  | 含义          |
| ---------------------- | ---------------- |
| :octocat:              | GitHub 仓库地址      |
| :globe_with_meridians: | 官方网站 |
| :sunglasses:           | 资源列表     |
| ⓘ                      | 最后提交时间 |

{{#each cmsGroups}}
## {{name}}

<table>
  <thead>
    <tr>
      {{#each headerColumns}}
        <th>{{this}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each cmses}}
      <tr>
        <td width="240">
          <div>
            <b>{{name}}</b>
          </div>
          <div>
            {{#if githubURL}}
              <a href="{{githubURL}}" title="GitHub Repo">
                :octocat:
              </a>&nbsp;&nbsp;
            {{/if}}
            {{#if url}}
              <a href="{{url}}" title="Website for {{name}}">
                :globe_with_meridians:
              </a>&nbsp;&nbsp;
            {{/if}}
            {{#if awesomeURL}}
            <a href="{{awesomeURL}}" title="Awesome List for {{name}}">
              :sunglasses:
            </a>
            {{/if}}
          </div>
          <div>
            {{#if starCountText}}
              ★{{starCountText}}
            {{/if}}
            {{#if lastCommit}}
              |&nbsp;{{lastCommit}}
              <ins title="Last commit on {{lastCommit}}">ⓘ</ins>
            {{/if}}
          </div>
        </td>
        <td>{{description}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{/each}}

## 相关文章

[What is a Headless CMS?](https://css-tricks.com/what-is-a-headless-cms/) by [@chriscoyer](https://github.com/chriscoyier)

[Headless and decoupled CMS: the essential guide](https://www.contentful.com/r/knowledgebase/headless-and-decoupled-cms/) by [@contentiful](https://github.com/contentful)

[Content as a Service (CaaS): Decoupled CMS and Headless CMS 101](https://ez.no/Blog/Content-as-a-Service-CaaS-Decoupled-CMS-and-Headless-CMS-101) by [@eZSystems](https://twitter.com/ezsystems)

[Decoupled CMS: Why “Going Headless” Is Becoming So Popular](https://pantheon.io/decoupled-cms) by [@getpantheon](https://twitter.com/getpantheon)

[The Nearly-Headless CMS](https://alistapart.com/column/nearly-headless-cms) by [@dirtystylus](https://twitter.com/dirtystylus)

[Creating The Right Headspace: Why Headless CMS's Are Wrong](https://www.onehippo.com/en/resources/blogs/2016/2/why-headless-cms-is-wrong.html) by [@OneHippo](https://twitter.com/onehippo)

[What are the examples of *decoupled/headless* CMSs?](https://www.quora.com/What-are-the-examples-of-*decoupled-headless*-CMSs) on [@Quora](https://twitter.com/Quora)

[A Headless CMS Won't Solve All Your Woes](http://www.cmswire.com/web-cms/a-headless-cms-wont-solve-all-your-woes/) by [@cmswire](https://twitter.com/CMSWire)

[Two Headless CMS - Head to Head](https://medium.com/apegroup-texts/two-headless-cms-head-to-head-94ea26b0b80f#.cocaed99l) by [@elektromin](https://twitter.com/elektromin)

[Cloud-First Headless CMS: What It Is and Why You Should Use It](https://www.cmscritic.com/cloud-first-headless-cms-what-it-is-and-why-you-should-use-it/) by [@cmscritic](https://twitter.com/cmscritic)

[What is a cloud-first headless CMS?](https://kenticocloud.com/blog/what-is-headless-cms) by [@kenticocloud](https://twitter.com/kenticocloud)

[What is Headless or Decoupled CMS?](https://www.biztechcs.com/blog/what-headless-decoupled-cms/) by [@biztechcs](https://twitter.com/biztechcs)

[Headless CMS: Advantages of the decoupled approach](http://www.effectiveui.com/blog/2016/11/14/headless-cms-advantages-decoupled-approach/) by [@effectiveui](https://twitter.com/effectiveui/)

[Should you Decouple?](https://www.lullabot.com/articles/should-you-decouple) by [@lullabot](https://twitter.com/lullabot)

[Blackstar, the API-first, headless CMS built for developers](http://withouttheloop.com/articles/2016-04-27-headless-cms/) by [@liammclennan](https://twitter.com/liammclennan)

[The Ultimate Guide for Headless Content Management Systems](http://www.cms-connected.com/News-Archive/December-2016/The-Ultimate-Guide-for-Headless-Content-Management) by [@cmsconnected](https://twitter.com/cmsconnected)

[Built.io wants to challenge Drupal and WordPress with its headless CMS](https://techcrunch.com/2016/03/10/built-io-wants-to-challenge-drupal-and-wordpress-with-its-headless-cms/) by [@TechCrunch](https://twitter.com/techcrunch)

[Headless CMS](https://www.jpkeisala.com/headless-cms/) by [@jpkeisala](https://twitter.com/jpkeisala)

[What is a headless CMS?](http://www.oshyn.com/Blogs/2016/december/Headless-CMS) by [@Oshyn_Inc](https://twitter.com/Oshyn_Inc)

[Perch Runway 3 as a Headless CMS](https://grabaperch.com/blog/archive/perch-runway-3-as-a-headless-cms) by [@grabaperch](https://twitter.com/grabaperch)

[Decoupling with a Headless CMS](http://symfony-cms.net/decoupling-headless-cms)

[Headless CMS – just a fad?](http://www.digitalclaritygroup.com/headless-cms/) by [@Just_Clarity](https://twitter.com/Just_Clarity)

[Headless vs. Decoupled CMS Architecture](https://hackernoon.com/headless-vs-decoupled-cms-architecture-e240838fbc99) by [@carsoncgibbons](https://twitter.com/carsoncgibbons)

[Use Cases for a Headless CMS](http://gadgetopia.com/post/9743) by [@gadgetopia](https://twitter.com/gadgetopia/)

[Decoupled CMS is the New Black](http://gadgetopia.com/post/7330) by [@gadgetopia](https://twitter.com/gadgetopia/)

[Sitecore as a true headless CMS](https://www.sitecore.net/da-dk/company/blog/356/sitecore-as-a-true-headless-cms-4418) by [@Sitecore](https://twitter.com/Sitecore)

[Building Decoupled Sites and Apps with GraphQL and Next.js](https://malloc.fi/building-decoupled-sites-and-apps-with-graphql-and-next-js) by [@velmu](https://twitter.com/velmu)


## 文档

[The Rise Of The Headless Content Management System](documents/the-rise-of-the-headless-cms.pdf) by [@forrester](https://twitter.com/forrester)

[The case for headless CMS](documents/EffectiveUI_HeadlessCMS.pdf) by [@effectiveui](https://twitter.com/effectiveui/)


## 资源

[Decoupled CMS](http://decoupledcms.org/)

[Headless CMS](https://headlesscms.org/)


## 贡献者 [![All Contributors](https://img.shields.io/badge/all_contributors-53-orange.svg?style=flat-square)](#contributors)

<!-- ALL-CONTRIBUTORS-LIST:START - Do not remove or modify this section -->
<!-- prettier-ignore -->
<!-- ALL-CONTRIBUTORS-LIST:END -->


## License

MIT, see [LICENSE](/LICENSE) for more details.

[awesome-image]: https://cdn.rawgit.com/sindresorhus/awesome/d7305f38d29fed78fa85652e3a63e154dd8e8829/media/badge.svg
[awesome-repo]: https://github.com/sindresorhus/awesome
[the blog post]: https://trackchanges.postlight.com/building-awesome-cms-f034344d8ed